.titleStyle {
    font-size: 5.9vw;
    color: red;
    font-weight: bold;
    padding: 10px;
}
.timerFont{
    font-size: 2vw;
}
.divYellow{
    background-color: yellow;
    min-height:80%;
    max-width: 80%;
    margin:0 10%;
}

.backgroundIMG{
    background-color: blue;
    min-height: 100%;
    padding: 5% 0;
}

.btn-size {
    height:100px;
    width:250px; 
    font-size: 40px; 
    background-color: #17a2b8;
    border-color: #17a2b8;
    color:white;

}